h5 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 131px;
  /* height: 2.2em; */
  white-space: nowrap;
  font-size: 1em;
}

.card {
  width: 10em;
}
.row {
  row-gap: 2em;
}


.btn-primary {
    color: #fff;
    background-color: #415300;
    border-color:  #415300;
    width: 300px;
    height: 100px;
    font-size: 2em;
    margin-block-start: 2em;
    position: sticky;
    bottom: 3px;
